@page
@model Склад.Pages.ProductsListModel
@{
}

<h2>Products</h2>

<p>
    <a class="btn btn-primary" href="@Url.Page("Product", new { id = 0 })">Добавить новый товар</a>
</p>

<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var product in Model.Products)
    {
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text">Цена: @product.Price</p>
                    <p class="card-text">Количество: @product.Quantity</p>
                    <p class="card-text">Id категории: @product.CategoryId</p>
                    <p class="card-text">Id поставщика: @product.SupplierId</p>
                   
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <a href="@Url.Page("Product", new { id = product.ProductId })" class="btn btn-warning">Изменить</a>
                    <form asp-page-handler="Delete" method="post" asp-route-id="@product.ProductId">
                        <button class="btn btn-danger" onclick="return confirm('Вы уверны?')">Удалить</button>
                    </form>
                </div>
            </div>
        </div>
    }
</div>